{{define "footer"}}
    <p class="footer">
      by <a href="https://markmcgranaghan.com" target="_blank" rel="noopener noreferrer">Mark McGranaghan</a> and <a href="https://eli.thegreenplace.net" target="_blank" rel="noopener noreferrer">Eli Bendersky</a> | <a href="https://github.com/mmcgrana/gobyexample" target="_blank" rel="noopener noreferrer">source</a> | <a href="https://github.com/3rr0r-505/gobyexample" target="_blank" rel="noopener noreferrer">fork</a> | <a href="https://github.com/mmcgrana/gobyexample#license" target="_blank" rel="noopener noreferrer">license</a>
    </p>
{{end}}
